:root {
  --background-color: #36517c;
  --border-color: #46b2e2;
}
body {
  margin: 0;
  background-color: var(--background-color);
  color: white;
  font-size: large;
  background-repeat: no-repeat;
}
img,
svg {
  width: 100%;
  height: auto;
}
p {
  color: #b1c4da;
}
.mientras {
  width: 300px;
  height: 300px;
  background-color: indigo;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.28s ease;
  &:hover:not(a.btn) {
    color: #46b2e4;
  }
  &.btn {
    display: inline-block;
    border: 1px solid var(--border-color);
    padding: 0.5rem 2rem;
    border-radius: 26px;
    transition: background-color 0.2s linear;
  }
}
a.btn:hover {
  background-color: var(--border-color);
}
ul {
  padding: 0;
  list-style-type: none;
}
header,
section {
  display: flex;
  align-items: center;
}
header {
  margin-block: 0.6em;
  justify-content: space-around;
  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
main {
  min-height: 70vh;
  padding-inline: 2rem;
  section:first-child {
    justify-content: center;
    flex-wrap: wrap;
    gap: 4em;
  }
  article {
    max-width: 35vw;
    font-size: 1.5em;

    h1 {
      font-size: 2.5em;
      transition: opacity 1s ease, translate 1s ease;
    }
    p {
      transition: opacity 1.5s ease, translate 1.5s ease;
    }
    a {
      transition: opacity 2s ease, translate 2s ease;

      &.btn {
        margin-inline-end: 1em;
        transition: opacity 2s ease, translate 2s ease;
      }
    }
    a:last-child {
      position: relative;
      padding-left: 2.5em;
      display: inline-flex;
      align-items: center;
    }

    a:last-child::before {
      content: url("../ico/video.png");
      display: block;
      width: 2em;
      height: auto;
      margin-right: 0.5em;
    }
  }
  figure {
    margin: 0;
    max-width: 40vw;
    min-width: 375px;
    transition: opacity 3s ease, translate 3s ease;
  }
}

@starting-style {
  main {
    article {
      h1,
      p,
      a,
      a.btn {
        opacity: 0;
        translate: 0 200px;
      }
    }
    figure {
      opacity: 0;
      translate: 0 250px;
    }
  }
}
